<div class="container mt-3">
  <div class="card rounded-lg mb-3">
    <div class="card-header text-center">
      <h1><%= @article.title %></h1>

    </div>
    <div class="card-body">
      <tr>
      <%#= link_to 'Write a new article', articles_path(current_user),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-outline-primary rounded-pill'}  %>
      <table class="m-auto">
        <tr>
        <%#= f.button :submit, value: "Follow", class: "btn btn-outline-primary rounded-pill" %>
        <p><%= @article.content %></p>

        <%= link_to "Go to List", articles_path %>
      </table>
    </div>
  </div>
</div>
