.card-article {
  overflow: hidden;
  min-height: 100px;
  background: $job;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: top;
  border-radius: 50px;
}


.card-article h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-article h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-article h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-article {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-article .card-article-infos {
  padding: 16px 32px;
}
.card-article-write{
  overflow: auto;
  max-height: 50px;
}
