.card-skill {
  overflow: hidden;
  height: 100px;
  background: $current-skill;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 15px;
}
.card-skill.previous-skills {
  background: $previous-skill;
}

.card-skill img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-skill h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-skill p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-skill .card-skill-infos {
  padding: 0 0 0 32px;
}

.level {
  height: 7px;
  width: 35px;
  background: #41EFA4;
  margin-right: 5px;
  margin-top: 10px;
  border: 1px solid #A3A3A3;
}
