.card-job {
  overflow: hidden;
  min-height: 100px;
  background: $job;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: top;
  border-radius: 50px;
}

.card.job {
  background: $job !important;
}

.job-skills {
  overflow-y:scroll;
  max-height: 50px;
  border: 1px solid #D6DBF2;
  border-radius: 50px;
  background:#D6DBF2;
}

.card-job h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-job h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-job h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-job {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-job .card-job-infos {
  padding: 16px 32px;
}
.card-job-description{
  overflow: auto;
  max-height: 50px;
}
