.navbar-lewagon {
  justify-content: space-between;
  background: $navbar;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-lewagon .nav-link {
  color: white !important;
}

.navbar-lewagon .active {
  border-bottom: 1px solid white;
}

.btn-outline-white {
  border-radius: 20px;
  border: 1px solid white;
  padding: 5px 32px !important;
}

.username {
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
  text-decoration: underline;
}
