.navbar-lewagon {
  justify-content: space-between;
  background: #B1ABF5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: white !important;
  font-weight: 500;
}

.navbar-lewagon .active {
  border-bottom: 1px solid white;
}
