<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1>Your followees activity</h1>

    </div>
    <div class="card-body">
      <%== pagy_bootstrap_nav(@pagy) %>
      <% unless @activities.blank? %>
        <% @activities.each do |activity| %>
          <p><%= activity.description.html_safe %> <%= activity.created_at.strftime("on %Y-%m-%d") %> <%= activity.created_at.strftime("at %H:%M") %></p>
        <% end -%>
      <% else %>
        <p>No activity yet.</p>
      <% end -%>
    </div>
  </div>
</div>

