<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1>My Jobs Applications</h1>
    </div>
    <div class="card-body">
      <%== pagy_bootstrap_nav(@pagy)  %>
      <% unless @jobs_applications.blank? %>
        <div class="row">
            <% @jobs_applications.order(created_at: :desc).each do |jobs_application| %>
              <div class="card job rounded-pill mb-3 col-11 col-lg-5 ml-3">
                <div class="card-body">
                  You applied to the <%= link_to jobs_application.job.title, job_path(jobs_application.job) %> position
                  <%= jobs_application.created_at.strftime("on %Y-%m-%d") %><br>
                  Recruiter: <%= link_to jobs_application.job.user.username, user_path(jobs_application.job.user) %>

                </div>


              </div>
            <% end -%>

        </div>
      <% else %>
        <p>You didn't apply to any jobs yet.</p>
      <% end -%>
    </div>
  </div>
</div>
