<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1>My Jobs Applicants</h1>
    </div>
    <div class="card-body">
      <%== pagy_bootstrap_nav(@pagy)  %>
      <% unless @jobs.blank? %>
        <ul>
          <% @jobs.each do |job| %>
                    <% unless job.jobs_applications.blank? %>
            <li>

              <p>
                <h5><%= link_to job.title, my_user_job_path(current_user, job) %></h5>
                Applicants:



                      <div class="row">

                          <% job.jobs_applications.each do |jobs_application| %>
                            <div class="card rounded-pill mb-3 mr-2 col-8 col-md-3">
                              <div class="card-body">
                                <%= link_to jobs_application.user.username, user_path(jobs_application.user) %> - <%= jobs_application.user.job_position %>

                              </div>
                            </div>
                          <% end -%>



                      </div>


              </p>


            </li>
                    <% end -%>
          <% end -%>

        </ul>
      <% else %>
        <p>You don't have any jobs.</p>
      <% end -%>
    </div>
  </div>
</div>
